# Tiingo

In [4]:
import keyring

keyring.set_password('Tiingo', 'JuhongPark', '')

In [5]:
from tiingo import TiingoClient
import pandas as pd

api_key = keyring.get_password('Tiingo', 'JuhongPark')
config = {}
config['session'] = True
config['api_key'] = api_key
client = TiingoClient(config)

In [7]:
tickers = client.list_stock_tickers()
tickers_df = pd.DataFrame.from_records(tickers)

In [11]:
tickers_df.head()

   ticker exchange assetType priceCurrency   startDate     endDate
0    -P-H     NYSE     Stock           USD
1    -P-S     NYSE     Stock           USD  2018-08-22  2023-05-05
2  000001      SHE     Stock           CNY  2007-01-04  2024-03-01
3  000002      SHE     Stock           CNY  2007-01-04  2024-03-01
4  000003      SHE     Stock           CNY

In [9]:
tickers_df.groupby(['exchange', 'priceCurrency'])['ticker'].count()

exchange   priceCurrency
           USD               2451
AMEX       USD                 79
ASX        AUD                164
           USD               2115
BATS       USD                 18
CSE        USD                 32
EXPM       USD               2171
LSE        USD                 12
NASDAQ     USD              12647
NMFQS      USD                 36
NYSE       USD               7766
NYSE ARCA  USD                 62
NYSE MKT   USD                466
NYSE NAT   USD                  3
OTCBB      USD                646
OTCCE      USD               1100
OTCGREY    USD               4088
OTCMKTS    USD               1186
OTCQB      USD               1247
OTCQX      USD                760
PINK       USD              15398
SHE        CNY               3386
           HKD                 12
SHEB       HKD                 42
SHG        CNY               2954
           USD                  6
SHGB       USD                 44
Name: ticker, dtype: int64

In [12]:
ticker_metadata = client.get_ticker_metadata("AAPL")
print(ticker_metadata)

{'ticker': 'AAPL', 'name': 'Apple Inc', 'description': "Apple Inc. (Apple) designs, manufactures and markets mobile communication and media devices, personal computers, and portable digital music players, and a variety of related software, services, peripherals, networking solutions, and third-party digital content and applications. The Company's products and services include iPhone, iPad, Mac, iPod, Apple TV, a portfolio of consumer and professional software applications, the iOS and OS X operating systems, iCloud, and a variety of accessory, service and support offerings. The Company also delivers digital content and applications through the iTunes Store, App StoreSM, iBookstoreSM, and Mac App Store. The Company distributes its products worldwide through its retail stores, online stores, and direct sales force, as well as through third-party cellular network carriers, wholesalers, retailers, and value-added resellers. In February 2012, the Company acquired app-search engine Chomp.", 'startDate': '1980-12-12', 'endDate': '2024-04-29', 'exchangeCode': 'NASDAQ'}

In [13]:
historical_prices = client.get_dataframe("AAPL", startDate='2019-08-01', frequency='daily')
historical_prices.head()

,close,high,low,open,volume,adjClose,adjHigh,adjLow,adjOpen,adjVolume,divCash,splitFactor
date,,,,,,,,,,,,
2019-08-01 00:00:00+00:00,208.43,218.03,206.74,213.90,54017922,50.358153,52.677580,49.949837,51.679743,216071688,0.0,1.0
2019-08-02 00:00:00+00:00,204.02,206.43,201.63,205.53,40862122,49.292666,49.874939,48.715225,49.657492,163448488,0.0,1.0
2019-08-05 00:00:00+00:00,193.34,198.65,192.58,197.99,52392969,46.712303,47.995236,46.528681,47.835775,209571876,0.0,1.0
2019-08-06 00:00:00+00:00,197.00,198.07,194.04,196.31,35824787,47.596584,47.855104,46.881428,47.429876,143299148,0.0,1.0
2019-08-07 00:00:00+00:00,199.04,199.56,193.82,195.41,33364400,48.089463,48.215098,46.828274,47.212429,133457600,0.0,1.0

In [14]:
fundamentals_daily = client.get_fundamentals_daily('AAPL')
fundamentals_daily_df = pd.DataFrame.from_records(fundamentals_daily)
fundamentals_daily_df.head()

,date,marketCap,enterpriseVal,peRatio,pbRatio,trailingPEG1Y
0,2021-04-30T00:00:00.000Z,2.206963e+12,2.258774e+12,28.920642,31.902673,0.240379
1,2021-05-03T00:00:00.000Z,2.225094e+12,2.276905e+12,29.158237,32.164767,0.242354
2,2021-05-04T00:00:00.000Z,2.146358e+12,2.198169e+12,28.126457,31.026599,0.233778
3,2021-05-05T00:00:00.000Z,2.150555e+12,2.202366e+12,28.181456,31.087269,0.234235
4,2021-05-06T00:00:00.000Z,2.178088e+12,2.229899e+12,28.542249,31.485264,0.237234

In [29]:
fundamentals_stmnts = client.get_fundamentals_statements('AAPL', startDate='2019-01-01', asReported=True, fmt='csv')
df_fs = pd.DataFrame([x.split(',') for x in fundamentals_stmnts.split('\n')])
df_fs.columns = df_fs.iloc[0]
df_fs = df_fs[1:]
df_fs.set_index('date', drop=True, inplace=True)
df_fs = df_fs[df_fs.index != '']
df_fs.head()

0           year quarter    statementType            dataCode           value
date
2024-02-02  2024       1     balanceSheet              equity   74100000000.0
2024-02-02  2024       1         cashFlow                ncff  -30585000000.0
2024-02-02  2024       1  incomeStatement             costRev   64720000000.0
2024-02-02  2024       1     balanceSheet  investmentsCurrent   32340000000.0
2024-02-02  2024       1     balanceSheet      taxLiabilities             0.0